In [10]:
import geopandas as gpd
import pandas as pd
from tqdm.auto import tqdm

In [8]:
shorelines = gpd.read_file("Data for testing/NZCCDv1.shp")
shorelines

,Region,Site,Digitiser,Scale,Notes,Source,CPS,Proxy,Photoscale,Georef_ER,Pixel_Er,Total_UNCY,USDate,SHLength,Date,ID,geometry
0,Auckland,KarekareBethells,MW,2000,tod,RL,4,1,40000,5.03,1.416425,5.620681,01/02/2004,1.265403,2004-01-02,0.0,"LINESTRING Z (1728907.5 5916213.248 0, 1728868..."
1,Auckland,KarekareBethells,MW,2000,tod,RL,4,1,40000,5.03,1.416425,5.620681,01/02/2004,0.307010,2004-01-02,1.0,"LINESTRING Z (1729067.838 5914779.733 0, 17290..."
2,Auckland,KarekareBethells,MW,2000,tod (landward),RL,4,1,40000,5.03,1.416425,5.620681,01/02/2004,0.255243,2004-01-02,2.0,"LINESTRING Z (1729647.881 5911983.994 0, 17296..."
3,Auckland,KarekareBethells,MW,2000,tod,RL,3,1,40000,5.03,1.416425,5.314890,01/02/2004,1.107251,2004-01-02,3.0,"MULTILINESTRING Z ((1728131.079 5917218.888 0,..."
4,Auckland,KarekareBethells,MW,2000,tod,RL,4,1,40000,5.03,1.416425,5.620681,01/02/2004,0.770375,2004-01-02,4.0,"MULTILINESTRING Z ((1729643.228 5912906.682 0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19661,West Coast,WoodpeckerBay,MD,1000,EdgeVeg,RL,2,1,18800,4.00,0.630693,3.736680,11/18/1948,1.191368,1948-11-18,19661.0,"LINESTRING Z (1467237.671 5348414.193 0, 14672..."
19662,Otago,Oamaru,TK,1500,Top of cliff,Max,3,2,0,2.02,0.412236,2.278429,04/04/2018,0.650952,2018-04-04,19662.0,"LINESTRING Z (1444386.944 5008247.367 0, 14443..."
19663,Otago,Oamaru,TK,1500,Top of cliff,Max,3,2,0,2.02,0.412236,2.278429,04/04/2018,0.179434,2018-04-04,19663.0,"LINESTRING Z (1444860.629 5008686.925 0, 14448..."
19664,Otago,Oamaru,TK,1500,Top of cliff,Max,3,2,0,2.02,0.412236,2.278429,04/04/2018,0.174825,2018-04-04,19664.0,"LINESTRING Z (1444996.286 5008822.252 0, 14450..."
19665,Otago,Oamaru,TK,1509,Top of cliff,Max,3,2,0,2.02,0.412236,2.278429,04/04/2018,0.699719,2018-04-04,19665.0,"LINESTRING Z (1445121.287 5008941.631 0, 14451..."

In [4]:
transects = gpd.read_file("Data for testing/Unique_ID_transects/NorthIsland_transects.shp")
transects

           Unique_ID                                           geometry
0       1.005226e+11  LINESTRING Z (1680443.328 5669799.874 0, 16804...
1       1.005226e+11  LINESTRING Z (1680451.296 5669793.831 0, 16804...
2       1.005226e+11  LINESTRING Z (1680459.263 5669787.788 0, 16804...
3       1.005227e+11  LINESTRING Z (1680467.271 5669781.803 0, 16804...
4       1.005227e+11  LINESTRING Z (1680475.694 5669776.413 0, 16804...
...              ...                                                ...
139133  1.004662e+11  LINESTRING Z (1799080.909 5395344.095 0, 17990...
139134  1.004662e+11  LINESTRING Z (1799070.914 5395344.405 0, 17990...
139135  1.004662e+11  LINESTRING Z (1799060.918 5395344.714 0, 17990...
139136  1.004662e+11  LINESTRING Z (1799050.923 5395345.024 0, 17990...
139137  1.004662e+11  LINESTRING Z (1799040.928 5395345.334 0, 17990...

[139138 rows x 2 columns]

In [19]:
display(transects.iloc[0])
shorelines["intersect_point"] = shorelines.intersection(transects.geometry.iloc[0])
df = shorelines[~shorelines.intersect_point.is_empty].sort_values("Date")
df["YearsSinceBase"] = (df.Date - pd.Timestamp(1800, 1, 1)).dt.days / 365.25
df["Distance"] = df.distance(df.intersect_point[df.Date.idxmin()])
x = df.YearsSinceBase.to_numpy().reshape(-1, 1)
y = df.Distance
linear_model = LinearRegression().fit(x, y)
pred = linear_model.predict(x)
df

Unique_ID                                       100522647132.0
geometry     LINESTRING Z (1680443.3277000627 5669799.87360...
Name: 0, dtype: object

,Region,Site,Digitiser,Scale,Notes,Source,CPS,Proxy,Photoscale,Georef_ER,Pixel_Er,Total_UNCY,USDate,SHLength,Date,ID,geometry,intersect_point,YearsSinceBase,Distance
14388,Taranaki,Oakura,ER,1000,None,RL,3,1,24000,5.891526,0.60,6.000915,02/10/1970,1.964095,1970-02-10,14388.0,"LINESTRING Z (1680386.424 5669770.606 0, 16804...",POINT Z (1680416.682 5669764.738 0),170.105407,2.950739e-10
14398,Taranaki,Oakura,ER,1000,poor image quality,RL,4,1,50000,5.891621,1.30,6.378566,01/14/2000,1.316049,2000-01-14,14398.0,"LINESTRING Z (1680375.299 5669782.312 0, 16803...",POINT Z (1680421.148 5669770.628 0),200.030116,7.387975e+00
14411,Taranaki,Oakura,ER,1000,edge of vege,VHR,4,1,0,2.020000,0.50,2.935183,03/11/2011,1.520229,2011-03-11,14411.0,"LINESTRING Z (1680402.526 5669773.876 0, 16804...",POINT Z (1680415.9 5669763.708 0),211.184120,1.195866e+00
14408,Taranaki,Oakura,ER,1000,None,LDS,4,1,0,0.000000,0.30,2.091626,10/31/2016,2.604931,2016-10-31,14408.0,"LINESTRING Z (1680418.223 5669782.105 0, 16804...",POINT Z (1680424.446 5669774.976 0),216.826831,1.026967e+01
14402,Taranaki,Oakura,MT,1000,None,LDS,5,1,0,0.000000,0.25,8.593637,01/14/2022,0.891288,2022-01-14,14402.0,"LINESTRING Z (1680385.296 5669800.77 0, 168039...",POINT Z (1680426.076 5669777.125 0),222.031485,1.531551e+01

In [4]:
points = gpd.read_file("Data for testing/Unique_ID_points/NorthIsland_UniqueID.shp")
points

           Unique_ID                             geometry
0       1.003479e+11  POINT Z (1880322.836 5830555.229 0)
1       1.003479e+11  POINT Z (1880327.712 5830546.382 0)
2       1.003479e+11  POINT Z (1880333.202 5830537.997 0)
3       1.003479e+11  POINT Z (1880339.081 5830529.906 0)
4       1.003479e+11  POINT Z (1880345.252 5830522.035 0)
...              ...                                  ...
139133  1.004750e+11  POINT Z (1758086.752 5426055.275 0)
139134  1.004750e+11  POINT Z (1758091.623 5426064.015 0)
139135  1.004750e+11  POINT Z (1758096.813 5426072.563 0)
139136  1.004750e+11  POINT Z (1758102.158 5426081.017 0)
139137  1.004750e+11  POINT Z (1758107.779 5426089.306 0)

[139138 rows x 2 columns]